{% extends 'base.html' %}
{% load cms_tags i18n core_tags l10n sponsors_tags static thumbnail %}

{% comment %}
TODO: Adaptar esto al nuevo template

{% block css %}
{% endblock css %}

{% block content %}
    <section id='pycon'>
        <h1><img class='header' src="{% static 'img/Pythonlatam_brandletraspng.png' %}" alt='PyCon LATAM'/></h1>
        <time class='pycon-title' datetime='2020-08-29 09:00'>{% trans "AUGUST" %} 29, 2021
            <time>
                <a href='{% page_url "travel" %}'>PUERTO VALLARTA, MÉXICO</a>
                <a class='scroll-down glyphicon glyphicon-menu-down' href='#mc_embed_signup' data-offset='-45'></a>
    </section>

    <section id='sponsors'>
        <h2>{% trans "SPONSORS" %}</h2>
        <img class='divider' src="{% static 'img/rombo-line.png' %}"/>
        <p class='sponsor-text'>
            {% blocktrans %}The companies and organizations who sponsor PyCon Latam make the conference possible,
                and get to connect with a wide array of Python programmers.{% endblocktrans %}
        </p>
        <div class='sponsor-logos'>
            {% get_sponsors as sponsors %}
            {% for sponsor in sponsors %}
                <a href="{{ sponsor.website }}" target="_blank">
                    <img src="{% thumbnail sponsor.logo 250x90 %}" alt='{{ sponsor.name }}'/>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
{% endcomment %}

{% block content %}
<div class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-20 xl:mt-24">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
      <time class="text-sm font-semibold uppercase tracking-wide text-gray-500 sm:text-base lg:text-sm xl:text-base" datetime="2021-08-29 09:00">
        {% trans "AUGUST" %} 27-28, 2021
      </time>
      <h2 class="mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl">
        PyCon Latam
        <br class="hidden md:inline" />
        <a href='{% page_url "travel" %}'><span class="text-blue-800">{% trans "Online Conference" %}</span></a> <!-- TODO: dejar este link? -->
      </h2>
      <p class="pb-32 mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
        {% trans "PyCon Latam is a version of the PyCon conference that aims to bring together python developers from all Latin American countries, and serve as a platform for them to interact with the python community at large." %}
      </p>
    </div>
    <div class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">
        <svg class="absolute top-0 left-1/2 transform -translate-x-0 scale-55 origin-top sm:scale-100" width="100%" height="100%" fill="none" >
          <rect width="100%" height="100%" class="text-blue-50" fill="currentColor"></rect>
        </svg>

      <div class="relative mx-auto w-full rounded-lg shadow-lg lg:max-w-md">
        <button class="relative block w-full rounded-lg overflow-hidden focus:outline-none focus:shadow-outline">
          <img class="w-full" src="{% static 'img/logos/pycon-latam-logo-large.svg' %}" alt="Presentación Pycon Latam" />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="py-12 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 mb-20 text-center">
    <div class="p-6 bg-gray-100 rounded-lg shadow-lg">
      <a href="https://events.hubilo.com/pycon-latam-2021">
        <button class="bg-blue-400 transform hover:-translate-y-1 hover:scale-125 mt-2 text-white font-bold py-2 px-4 rounded">
          {% trans "Go to live conference" %}
        </button>
      </a>
    </div>
  </div>
</div>


<!-- Features -->
<div class="py-12 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 mb-20">
    <div class="p-6 bg-gray-100 rounded-lg shadow-lg">
    <div class="lg:text-center">
      <div>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
          {% trans "The conference you don't want to miss" %}
        </h3>
        <svg class="float-right transform translate-x-6 -translate-y-20 top-0 right-0 w-1/4 hidden lg:inline" viewBox="0 0 640 181" fill="none">
          <image href="/static/img/Serpiente3.svg" x="-640" y="-180" transform="rotate(-180)"></image> 
        </svg>
      </div>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
            {% blocktrans %}After the success of the first edition of this conference, we are back! On this occasion with a virtual event, under the same mission, to bring together the communities of all the countries of Latin America.{% endblocktrans %}
      </p>
    </div>
    <div class="mt-10">
      <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
        <li>
          <div class="flex md:ml-20">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"/>
                </svg>
              </div>
            </div>
            <!-- TODO: Actualizar íconos -->
            <div class="ml-4 my-2">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{% trans "2 Days" %}</h5>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"/>
                </svg>
              </div>
            </div>
            <div class="ml-4 my-2">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{% trans "2 Tracks (Spanish and English)" %}</h5>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0 md:ml-20">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
                </svg>
              </div>
            </div>
            <div class="ml-4 my-2">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{% trans "4 Keynotes" %}</h5>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                </svg>
              </div>
            </div>
            <div class="ml-4 my-2">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{% trans "Challenges" %}</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-10">
    </div>
    <svg class="float-left transform -translate-x-6 -translate-y-14 top-0 right-0 w-1/4 hidden lg:inline" viewBox="0 0 640 181" fill="none">
      <image href="/static/img/Serpiente3.svg"></image> 
    </svg>
  </div>

</div>
<!-- Prices -->
<!-- Speakers -->
<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="shadow-lg">
      <div class="pt-2 flex justify-center">
        <h2 class="font-bold"> Ponentes principales </h3>
      </div>
      <div class="speakers-carousel p-2">
        <div class="item opacity-25">
          <div class="card text-center max-w-sm rounded-md m-3 flex items-center justify-center">
            <img class="mt-2 rounded-full h-50 w-50" src="{% static 'img/keynotes/luciano.jpeg' %}" alt="">
            <div class="card-body">
              <h5 class="font-bold">Luciano Ramalho </h5>
              <a href="{% page_url 'keynote-speakers' %}#luciano">
                <button type="button" class='bg-blue-400 transform hover:-translate-y-1 hover:scale-125 mt-2 text-white font-bold py-2 px-4 rounded'>About</button>
              </a>
            </div>
          </div>
        </div>

        <div class="item opacity-25">
          <div class="card text-center max-w-sm rounded-md m-3 flex items-center justify-center">
            <img class="mt-2 rounded-full h-50 w-50" src="{% static 'img/keynotes/carol.jpeg' %}" alt="">
            <div class="card-body">
              <h5 class="font-bold">Carol Willing</h5>
              <a href="{% page_url 'keynote-speakers' %}#carol">
                <button type="button" class='bg-blue-400 transform hover:-translate-y-1 hover:scale-125 mt-2 text-white font-bold py-2 px-4 rounded'>About</button>
              </a>
            </div>
          </div>
        </div>
        
        <div class="item opacity-25">
          <div class="card text-center max-w-sm rounded-md m-3 flex items-center justify-center">
            <img class="mt-2 rounded-full h-50 w-50" src="{% static 'img/keynotes/froiland.jpeg' %}" alt="">
            <div class="card-body">
              <h5 class="font-bold">Froilán Irizarry Rivera</h5>
              <a href="{% page_url 'keynote-speakers' %}#froilan">
                <button type="button" class='bg-blue-400 transform hover:-translate-y-1 hover:scale-125 mt-2 text-white font-bold py-2 px-4 rounded'>About</button>
              </a>
            </div>
          </div>
        </div>
        
        <div class="item opacity-25">
          <div class="card text-center max-w-sm rounded-md m-3 flex items-center justify-center">
            <img class="mt-2 rounded-full h-50 w-50" src="{% static 'img/keynotes/sergio.jpeg' %}" alt="">
            <div class="card-body">
              <h5 class="font-bold">Sergio Sánchez</h5> <!-- azul-->
              <a href="{% page_url 'keynote-speakers' %}#Sergio">
                <button type="button" class='bg-blue-400 transform hover:-translate-y-1 hover:scale-125 mt-2 text-white font-bold py-2 px-4 roundedd'>About</button>
              </a>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
<!-- Prices -->
<div class="bg-yellow-100">
  <div class="pt-12 sm:pt-16 lg:pt-20">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
            {% trans "Pylatam Online Tickets" %}<br>
        </h2>
      </div>
    </div>
  </div>
  <div class="mt-8 bg-white sm:mt-12">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-yellow-100"></div>
      <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex">
          <div class="bg-white px-6 py-8 lg:flex-shrink-1 lg:p-12">
            <h3 class="text-2xl leading-8 font-extrabold text-gray-900 sm:text-3xl sm:leading-9">
                {% trans "Pylatam 2021 online for the first time!" %}
            </h3>
            <div class="mt-8">
              <div class="flex items-center">
                <h4 class="flex-shrink-0 pr-4 bg-white text-sm leading-5 tracking-wider font-semibold uppercase text-blue-800">
                    {% trans "What is included?" %} 
                </h4>
                <div class="flex-1 border-t-2 border-gray-200"></div>
              </div>
              <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                  {% trans "A unique environment for cross-collaboration between developers, sysadmins and others." %}
                  </p>
                </li>

                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                  {% trans "Virtual rooms with activites and awards." %}
                  </p>
                </li>
                <li class="mt-1 flex items-start lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                  {% trans "Coding Challenges." %}
                  </p>
                </li>
                <li class="mt-1 flex items-start lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                  {% trans "Access to the entire immersive event experience" %}
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12">
            <p class="text-2xl m-0.5 font-bold leading-6 font-medium text-gray-900">
              Early Birds
            </p><span class="font-normal mt-0.5 text-gray-500">Mayo 11 - 14th
            </span>

            <div class="mt-0 flex items-center justify-center text-base leading-none font-normal text-gray-500">
              <span class="ml-3 text-xl leading-7 font-medium text-gray-900 line-through">$400</span>
             <span class="ml-4 text-xl leading-7 font-medium text-gray-900">$200</span>
             <span class="ml-3 text-sm leading-7 font-medium text-gray-500">
                MXN</span><br><br>
            </div>

            <p class="text-2xl mt-3 mb-0.5 font-bold leading-6 font-medium text-gray-900">
              Pre Ticket
            </p><span class="font-normal text-gray-500">Mayo 14 - 30th</span>

            <div class="mt-0 mb-3 flex items-center justify-center text-base leading-none font-normal text-gray-500">
              <span class="ml-4 text-xl leading-7 font-medium text-gray-900">$300</span>
              <span class="ml-3 text-sm leading-7 font-medium text-gray-500">
                MXN</span><br><br>
            </div>

            <p class="mb-0 text-2xl font-bold leading-6 font-medium text-gray-900">
              Regular Ticket
            </p><div class="m-0 flex items-center justify-center text-base leading-none font-normal text-gray-500">
              <span class="ml-4 text-xl leading-7 font-medium text-gray-900">$400</span>
              <span class="ml-3 text-sm leading-7 font-medium text-gray-500">
                MXN</span><br><br>
            </div>





            <div class="mt-6">
              <div class="rounded-md shadow">
                <a href="https://ti.to/pycon-latam/online2021" class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-800 hover:bg-blue-700 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                    {% trans "Buy Tickets" %}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sponsors -->

<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    
    <div class="lg:grid lg:grid-rows-1 lg:items-center rounded-lg shadow-lg overflow-hidden">
      <div>
        <div class="pl-8 pt-8 pr-8 bg-white">
        <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
          {% trans "Would you like to be our sponsor?"  %}
        </h2>
        <p class="mt-3 max-w-3xl text-lg leading-7 text-gray-500">
          {% blocktrans %}The companies and organizations who sponsor PyCon Latam make the conference possible, and get to connect with a wide array of Python programmers.{% endblocktrans %}
        </p>
        <div class="mt-8 sm:flex">
          <div class="rounded-md mt-3 sm:mt-0 sm:ml-3">
            <a href='{% page_url "sponsors-info" %}' class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-800 hover:bg-blue-700 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
              {% trans "More Details" %}
            </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a href='{% page_url "sponsors-info" %}' class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-blue-800 bg-blue-100 hover:text-blue-800 hover:bg-indigo-50 focus:outline-none focus:shadow-outline focus:border-blue-400 transition duration-150 ease-in-out">
              {% trans "Contact Us" %}
            </a>
          </div>
          <div class="w-1/4 ml-36 float-right hidden lg:inline">
            <svg class="bottom-0 right-0 transform translate-x-96" viewBox="0 0 289 135" fill="none">
              <image href="/static/img/Serpientes1.svg"></image> 
            </svg>
          </div>  
        </div>
        </div>
      </div>

      <div class="bg-blue-900 mt-8 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
      <!-- TODO: Revisar si están agregados los patrocinadores en la BD -->
        {% get_sponsors as sponsors %}
        {% for sponsor in sponsors %}
            <a class="col-span-1 flex justify-center py-8 px-8 bg-blue-800" href="{{ sponsor.website }}" target="_blank">
              <img class="max-h-12" src="{% thumbnail sponsor.logo 250x90 %}" alt="{{ sponsor.name }}" />
            </a>
        {% endfor %}
      </div>
     
    </div>


  </div>
</div>
{% endblock content %}
